.input-field {
  background-color: #f3f6fb;
  height: 62px;
  margin-bottom: 30px;
  padding: 3px;
  border-radius: 16px;
  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  &__label {
    position: absolute;
    left: 18px;
    top: 16px;
    font-size: 18px;
    color: #7a818a;
    transition: top 0.3s ease, font-size 0.3s ease;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    svg {
      fill: #8d9aaf;
    }
  }
  &__input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    padding-left: 16px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: border-color 0.3s ease, background-color 0.2s ease;
    &:focus {
      border-color: #1d90f5;
      background-color: #fff;
      &+.input-field__label {
        top: 10px;
        font-size: 12px;
      }
    }
  }
  &__error {
    font-size: 14px;
    color: red;
    padding-top: 8px;
  }
  &--error {
    .input-field__input {
      border-color: red;
    }
  }
  &--active {
    .input-field__label {
      top: 10px;
      font-size: 12px;
    }
  }
}